body {
  background-color: #f4f1de;
}

.form-container {
  display: flex;
  border-radius: 25px;
  border: 1px black;
  justify-content: center;
  background-color: rgb(129, 177, 154, 0.3);
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
